.popular-label {
  background-color: $color-dark-red;
  width: 147px;
  height: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  transform: rotate(45deg);
  top: 30px;
  right: -30px;
}

.checkmark {
  width: 15px;
  height: 13px;
  margin: 0 22px;
  display: inline-block;
}

.checkmark_green {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
}

.checkmark_blue {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
}

.checkmark_orange {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
}

.price-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: $background-color-card;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  position: relative;

  &__blue {
    overflow: hidden;
    margin-left: 18px;
  }

  &__orange {
    margin-left: 18px;
  }

  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    margin: 0;
    margin-top: 33px;
    text-align: center;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__price {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 100%;
  }

  &__green .price-card__price {
    background-color: $color-green;
  }

  &__blue .price-card__price {
    background-color: $color-blue;
  }

  &__orange .price-card__price {
    background-color: $color-orange;
  }

  &__description {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 40px 26px 0;
  }

  .options-list {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    list-style-type: none;

    &__item {
      font-size: 15px;
      line-height: 18px;
      height: 50px;
      display: flex;
      align-items: center;
    }
  }

  .options-list__item:nth-child(odd) {
    background-color: $background-color-list;
  }

  .price-card__order-btn {
    width: 154px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
    border: none;
    background-color: $color-green;
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: auto;
  }

  .price-card__order-btn_blue {
    background-color: $color-blue;
  }

  .price-card__order-btn_orange {
    background-color: $color-orange;
  }
}
