$lg: 1400px;
$color-page: #141b1c;
$text-color: #ffffff;
$background-color-card: #334247;
$background-color-list: #2a343880;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-dark-red: #dc3f45;
